USE [master]
GO
/****** Object:  Database [Clinica]    Script Date: 12/11/2025 19:26:28 ******/
CREATE DATABASE [Clinica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Clinica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Clinica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Clinica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Clinica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Clinica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Clinica]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[ID] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico](
	[ID] [int] NOT NULL,
	[ID_Especialidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObraSocial]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObraSocial](
	[ID] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[ID] [int] NOT NULL,
	[ID_ObraSocial] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[ID] [int] NOT NULL,
	[dni] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[edad] [int] NOT NULL,
	[sexo] [nvarchar](50) NOT NULL,
	[tipoPersona] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[ID] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[ID_Medico] [int] NOT NULL,
	[ID_Paciente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Persona] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Medico]  WITH CHECK ADD FOREIGN KEY([ID_Especialidad])
REFERENCES [dbo].[Especialidad] ([ID])
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Persona] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD FOREIGN KEY([ID_ObraSocial])
REFERENCES [dbo].[ObraSocial] ([ID])
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD FOREIGN KEY([ID_Medico])
REFERENCES [dbo].[Medico] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Turno]  WITH CHECK ADD FOREIGN KEY([ID_Paciente])
REFERENCES [dbo].[Paciente] ([ID])
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD CHECK  (([tipoPersona]='Paciente' OR [tipoPersona]='Medico'))
GO
/****** Object:  StoredProcedure [dbo].[crearEspecialidad]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[crearEspecialidad]
    @Nombre NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nuevoID INT;
    SELECT @nuevoID = ISNULL(MAX(ID), 0) + 1 FROM Especialidad;

    INSERT INTO Especialidad (ID, Nombre)
    VALUES (@nuevoID, @Nombre);
END
GO
/****** Object:  StoredProcedure [dbo].[crearMedico]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[crearMedico]
    @dni INT,
    @nombre NVARCHAR(50),	
    @apellido NVARCHAR(50),
    @edad INT,
    @sexo NVARCHAR(50),
    @id_Especialidad INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nuevoIdPersona INT;
    
    -- Generar nuevo ID automáticamente
    SELECT @nuevoIdPersona = ISNULL(MAX(ID), 0) + 1
    FROM Persona;

    -- Insertar en Persona
    INSERT INTO Persona (ID, dni, nombre, apellido, edad, sexo, tipoPersona)
    VALUES (@nuevoIdPersona, @dni, @nombre, @apellido, @edad, @sexo, 'Medico');

    -- Insertar en Medico
    INSERT INTO Medico (ID, ID_Especialidad)
    VALUES (@nuevoIdPersona, @id_Especialidad);
END
GO
/****** Object:  StoredProcedure [dbo].[crearObraSocial]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[crearObraSocial]
    @Nombre NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nuevoID INT;
    SELECT @nuevoID = ISNULL(MAX(ID), 0) + 1 FROM ObraSocial;

    INSERT INTO ObraSocial (ID, Nombre)
    VALUES (@nuevoID, @Nombre);
END
GO
/****** Object:  StoredProcedure [dbo].[crearPaciente]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[crearPaciente]

	@dni INT,
	@nombre nvarchar(50),	
	@apellido nvarchar(50),
	@edad INT,
	@sexo nvarchar(50),
	@id_ObraSocial INT

AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @nuevoIdPersona INT;
    
    SELECT @nuevoIdPersona = ISNULL(MAX(ID), 0) + 1
    FROM [dbo].[Persona];


	INSERT INTO Persona (ID, dni, nombre, apellido, edad, sexo, tipoPersona)
	VALUES (@nuevoIdPersona,@dni,@nombre,@apellido,@edad,@sexo, 'Paciente');
	
	INSERT INTO Paciente (ID, ID_ObraSocial)
	VALUES (@nuevoIdPersona, @id_ObraSocial);

	END
GO
/****** Object:  StoredProcedure [dbo].[crearTurno]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[crearTurno]
    @fecha DATE,
    @ID_Medico INT,
    @ID_Paciente INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @nuevoID INT;
    SELECT @nuevoID = ISNULL(MAX(ID), 0) + 1 FROM Turno;

    INSERT INTO Turno (ID, fecha, ID_Medico, ID_Paciente)
    VALUES (@nuevoID, @fecha, @ID_Medico, @ID_Paciente);
END
GO
/****** Object:  StoredProcedure [dbo].[editarEspecialidad]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editarEspecialidad]
    @ID INT,
    @Nombre NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Especialidad
    SET Nombre = @Nombre
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[editarMedico]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editarMedico]
    @id INT,
    @dni INT,
    @nombre NVARCHAR(50),	
    @apellido NVARCHAR(50),
    @edad INT,
    @sexo NVARCHAR(50),
    @id_Especialidad INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Actualizar Persona
    UPDATE Persona
    SET dni = @dni,
        nombre = @nombre,
        apellido = @apellido,
        edad = @edad,
        sexo = @sexo
    WHERE ID = @id;

    -- Actualizar Medico
    UPDATE Medico
    SET ID_Especialidad = @id_Especialidad
    WHERE ID = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[editarObraSocial]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[editarObraSocial]
    @ID INT,
    @Nombre NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ObraSocial
    SET Nombre = @Nombre
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[editarPaciente]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editarPaciente]
    @ID INT,
    @dni INT,
    @nombre NVARCHAR(50),
    @apellido NVARCHAR(50),
    @edad INT,
    @sexo NVARCHAR(50),
    @ID_ObraSocial INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Actualizar Persona
    UPDATE Persona
    SET dni = @dni,
        nombre = @nombre,
        apellido = @apellido,
        edad = @edad,
        sexo = @sexo
    WHERE ID = @ID;

    -- Actualizar Paciente
    UPDATE Paciente
    SET ID_ObraSocial = @ID_ObraSocial
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[editarTurno]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[editarTurno]
    @ID INT,
    @fecha DATE,
    @ID_Medico INT,
    @ID_Paciente INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Turno
    SET fecha = @fecha,
        ID_Medico = @ID_Medico,
        ID_Paciente = @ID_Paciente
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarEspecialidad]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarEspecialidad]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Especialidad
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarMedico]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[eliminarMedico]
    @id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Al eliminar de Persona, Medico se elimina por ON DELETE CASCADE
    DELETE FROM Persona
    WHERE ID = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarObraSocial]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[eliminarObraSocial]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM ObraSocial
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarPaciente]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[eliminarPaciente]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Al eliminar de Persona, Paciente se elimina por ON DELETE CASCADE
    DELETE FROM Persona
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarTurno]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[eliminarTurno]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Turno
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[listarEspecialidades]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[listarEspecialidades]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM Especialidad;
END
GO
/****** Object:  StoredProcedure [dbo].[listarMedicos]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[listarMedicos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT p.ID, p.dni, p.nombre, p.apellido, p.edad, p.sexo, m.ID_Especialidad
    FROM Persona p
    INNER JOIN Medico m ON p.ID = m.ID;
END
GO
/****** Object:  StoredProcedure [dbo].[listarObrasSociales]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[listarObrasSociales]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM ObraSocial;
END
GO
/****** Object:  StoredProcedure [dbo].[listarPacientes]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[listarPacientes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT p.ID, p.dni, p.nombre, p.apellido, p.edad, p.sexo, pa.ID_ObraSocial
    FROM Persona p
    INNER JOIN Paciente pa ON p.ID = pa.ID;
END
GO
/****** Object:  StoredProcedure [dbo].[listarTurnos]    Script Date: 12/11/2025 19:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[listarTurnos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT t.ID, t.fecha, t.ID_Medico, t.ID_Paciente,
           p.nombre AS NombrePaciente,
           m.ID_Especialidad AS EspecialidadMedico
    FROM Turno t
    INNER JOIN Paciente pa ON t.ID_Paciente = pa.ID
    INNER JOIN Persona p ON pa.ID = p.ID
    INNER JOIN Medico m ON t.ID_Medico = m.ID;
END
GO
USE [master]
GO
